[Unit]
Description=Service Harbor
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/home/{{ansible_env.SUDO_USER}}/service/harbor
ExecStart=/usr/bin/docker-compose up --force-recreate --abort-on-container-exit
ExecStop=/usr/bin/docker-compose stop
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
