[user]
	name = KIMATA Tetsuya
	email = kimata@green-rabbit.net
[core]
	editor = emacs
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
